<div class = "header">
<!-- <img src="assets/images/banner.png" width="100%" height="70%" > -->
<!-- <p style="width:100%; height:75%; background-color:rgb(71, 166, 255) ">banner</p> -->
<div>
  <ul>
    
  </ul>
</div>
<div [class]="classNav">
  
  <ul>
          <li><a [routerLink] = "'/home'" routerLinkActive = "router-link-active" >Panel</a></li>
          <!-- <li><a [routerLink] = "'/home'" routerLinkActive = "router-link-active">Products</a></li>
          <li><a [routerLink] = "'/home'" routerLinkActive = "router-link-active">News</a></li> -->
          <li><a [routerLink] = "'/dashboard'" routerLinkActive = "router-link-active">Dashboard</a></li>        
          <!-- <li><a [href]="">About</a></li> -->
          <!-- <li><a [routerLink] = "'/productmanage'" routerLinkActive = "router-link-active">ADMIN</a></li> -->
          
       
  </ul>
  <div [class]="navRightClass">
  
      <!-- <input type="text" id="lsearch" name="lsreach" placeholder="Search...">
  
    <ul>
      <li><a [routerLink] = "'/signin'" routerLinkActive = "router-link-active" >Sign in</a></li>
      <li><a [routerLink] = "'/register'" routerLinkActive = "router-link-active">Regiter</a></li>
      
   
  </ul> -->
 
</div>
</div>
<div [class] = "rowClass">
<router-outlet></router-outlet>
</div>