<h1>Banner</h1>
<div [class]="classNav">
  
  <ul>
          <li><a [routerLink] = "'/home'" routerLinkActive = "router-link-active" >Home</a></li>
          <li><a [routerLink] = "'/home'" routerLinkActive = "router-link-active">Products</a></li>
          <li><a [routerLink] = "'/home'" routerLinkActive = "router-link-active">News</a></li>
          <li><a [routerLink] = "'/home'" routerLinkActive = "router-link-active">Contact</a></li>
          <li><a [href]="">About</a></li>
       
  </ul>
  <div [class]="rearchClass">
  
  <input type="text" id="lsearch" name="lsreach" placeholder="Search...">
  
  </div>
  <div [class]="loginClass"> 
    <ul>
      <li><a [routerLink] = "'/signin'" routerLinkActive = "router-link-active" >Sign in</a></li>
      <li><a [routerLink] = "'/register'" routerLinkActive = "router-link-active">Regiter</a></li>
      
   
  </ul>
  </div>

</div>
<div [class] = "rowClass">
<router-outlet></router-outlet>
</div>