<div class="dashboard">




<br>


 <!-- <iframe src="http://172.29.65.197:3000/d/MFmXcoR7k/new-dashboard?orgId=1&from=1623997085000&to=1623997715000" 
 width="1000" height="600px" frameborder="0"></iframe> -->
 <iframe src="https://member.lazada.vn/user/register?spm=a2o4n.home.header.d6.becde182Umj8uY" 
 width="1000" height="600px" frameborder="0"></iframe>

 <iframe src="http://localhost:3000/d-solo/VlMvMiink/dashboard-testing?orgId=1" width="100%" height="600px" frameborder="0"></iframe>
 
</div>