<div class="col-12" style="overflow: hidden;">
    <!-- <iframe id="iFrameDashboard" src="http://172.29.65.197:3000/d-solo/MFmXcoR7k/new-dashboard?orgId=1&from=1623996455000&to=1623997085000&tab=alert&panelId=4" width="100%" height="700px" frameborder="0"></iframe> -->
    
     <iframe src="http://172.29.65.197:3000/d-solo/MFmXcoR7k/new-dashboard?orgId=1&from=1623996455000&to=1623997085000&tab=alert&panelId=4" 
     scrolling="no" class="col-12" [height]="innerHeight" [width]="innerWidth" frameborder="0"></iframe>
    </div>
