<div class="col-12" style="overflow: hidden;">
    <!-- <iframe id="iFrameDashboard" src="http://172.29.65.197:3000/d-solo/MFmXcoR7k/new-dashboard?orgId=1&from=1623996455000&to=1623997085000&tab=alert&panelId=4" width="100%" height="700px" frameborder="0"></iframe> -->
    
     <iframe src="http://172.29.65.197:3000/d/1mXrfkWnk/dashboard-data_q20?orgId=1&from=-9223371274000&to=9223286400000&$var-Field_1=%22Ingress%20Call%20Error%20Code%22&var-Field_2=%22Day%20of%20week%20in%20UTC%22" 
     scrolling="no" class="col-12" [height]="innerHeight" width="100%" frameborder="0"></iframe>
     <button (click)="OnLoginGrafana()">Login</button>
    </div>
