<!-- <div [class]="rowClass"> -->
<div [class]="categoriesClass">
    <p [class]="categoriesName">Danh mục</p>
    <div class="items">
        <ul>
            <li><a href="">Apple</a></li>
            <li><a href="">Oppo</a></li>
            <li><a href="">Samsung</a></li>
            <li><a href="">Vio</a></li>
        </ul>
        
    </div>
</div>

<div [class]="contentClass">

<p [class]="titleContentClass">Sản phẩm</p>

<div [class]="productClass">
    <a >
    <img id ="imgProduct" [src]="img" > 
    <p  [class]="nameProductClass">Điện thoại iPhone 12 64GB</p>
    </a>
    <p  [class]="priceProductClass">
        21.990.000₫
    </p>
    <button (click)="onAddProductClick()" [class]="btnAddCartClass">THÊM VÀO GIỎ</button>

</div>
<div [class]="productClass">
    <a >
    <img  id ="imgProduct" [src]="img1" > 
    <p  [class]="nameProductClass">Điện thoại Samsung Galaxy S21 5G</p>
    </a>
    <p  [class]="priceProductClass">
        17.990.000₫
    </p>
    <button (click)="onAddProductClick()" [class]="btnAddCartClass">THÊM VÀO GIỎ</button>

</div>

<div [class]="productClass">
    <a >
    <img id ="imgProduct" [src]="img" > 
    <p  [class]="nameProductClass">Điện thoại iPhone 12 64GB</p>
    </a>
    <p  [class]="priceProductClass">
        21.990.000₫
    </p>
    <button (click)="onAddProductClick()" [class]="btnAddCartClass">THÊM VÀO GIỎ</button>

</div>
<div [class]="productClass">
    <a >
    <img id ="imgProduct" [src]="img1" > 
    <p  [class]="nameProductClass">Điện thoại Samsung Galaxy S21 5G</p>
    </a>
    <p  [class]="priceProductClass">
        17.990.000₫
    </p>
    <button (click)="onAddProductClick()" [class]="btnAddCartClass">THÊM VÀO GIỎ</button>

</div>
<div [class]="productClass">
    <a >
    <img id ="imgProduct" [src]="img" > 
    <p  [class]="nameProductClass">Điện thoại iPhone 12 64GB</p>
    </a>
    <p  [class]="priceProductClass">
        21.990.000₫
    </p>
    <button (click)="onAddProductClick()" [class]="btnAddCartClass">THÊM VÀO GIỎ</button>

</div>
<div [class]="productClass">
    <a >
    <img id ="imgProduct" [src]="img1" > 
    <p  [class]="nameProductClass">Điện thoại Samsung Galaxy S21 5G</p>
    </a>
    <p  [class]="priceProductClass">
        17.990.000₫
    </p>
    <button (click)="onAddProductClick()" [class]="btnAddCartClass">THÊM VÀO GIỎ</button>

</div>
</div>
<!-- </div>
 -->
